version: '3.4'
services:
  maven:
    build:
      context: .
      target: maven
      args:
        - PROFIL_ACTIF=${PROFIL_ACTIF:-dev}
    environment:
      - PROFIL_ACTIF=${PROFIL_ACTIF:-dev}
    ports:
      - "8090:8090"
    volumes:
      - .:/app
    command: "tail -f /dev/null"
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres
    ports:
      - "5432:5432"
    restart: always
    environment:
      POSTGRES_DB: projet_gamification
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5
